[submodule "translator"]
	path = translator
	url = https://github.com/brainbots/bot-translator.git
	branch = master
[submodule "weather"]
	path = weather
	url = https://github.com/brainbots/bot-weather.git
	branch = master
[submodule "calculator"]
	path = calculator
	url = https://github.com/brainbots/bot-calculator.git
	branch = master
[submodule "search"]
	path = search
	url = https://github.com/brainbots/bot-search.git
	branch = master
[submodule "mail"]
	path = mail
	url = https://github.com/brainbots/bot-mail.git
	branch = master
[submodule "video"]
	path = video
	url = https://github.com/brainbots/bot-video.git
	branch = master
